# Ignore virtualenv files #

bin
include
local
dist
build
document_broker.egg-info
lib/python2.7

# Ignore various . files

.bash_history
.viminfo
.pip
.gvimrc
.vimrc
.vim
.fontconfig/
.ipython/
.libreoffice/
.pyhistory
.subversion
document_broker/client
document_broker/plugins
document_templates/client
document_templates/plugins

# Ignore swap and binary Python files
#
*.swp
*.pyc

# Ignore certificates and keys
*.crt
*.key
.rnd

# Ignore files in site-media folders.

site-media

# Ignore log files

logs
install_log.txt

# Ignore SQLite DB files
#
.db/
