<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8">
        <title>Document Broker Demo</title>
        {% block head %}
        {% endblock %}
        <link rel="stylesheet" href="{{ broker_url }}/media/files/styling/style.css" media="all"/>
        <script type="text/javascript" src="http://code.jquery.com/jquery-latest.pack.js"></script>
		<script type="text/javascript" src="{{ broker_url }}/media/files/styling/broker.js"></script>
    </head>

    <body>

        {% block content %} {% endblock %}

    </body>

</html>

